body{
    background-image: url(/static/skills/img/manjat.jpg);
    background-size: 100%;
    font-family: sans-serif;
}

.judul{
    margin-top: 50px;
    margin-left: 40px;
    font-family: Impact;
    letter-spacing: 4px;
    font-size: 32px;
}

.point{
    background-color: rgba(117, 116, 116, 0.6);
    border-radius: 50px;
    margin-left: 50px;
    width: 900px;
    padding: 3px;
}

.point h1{
    display: inline-block;
    margin: 20px;
}
.bintang{
    float: right;
    margin: 20px;
}

.bintang img{
    height: 35px;
}

.penjelasan{
    margin-left: 90px;
    font-size: 8px;
    margin-bottom: 45px;
    width: 600px;
}

.footer a{
    text-decoration: none;
    font-family: Impact;
    font-size: 25px;
    margin: 50px;
    color: rgb(5, 1, 61); 
    float: right;
    letter-spacing: 2px;
    text-shadow: 3px 2px 4px grey;
}

.footer a:hover{
    font-size: 30px;
    background-color: rgb(99, 153, 135);
    border-radius: 5px;
    padding: 3px;
}

.footer a:active{
    color: blue;
}