body{
    background-image: url(/app1/static/img/contact-background.jpg);
    background-size: 100%;
    background-position-y: -65px;
    font-family: Impact;
    letter-spacing: 2px;
}

.judul h1{
    margin: 35px;
    font-size: 50px;
    margin-bottom: 80px;
}

.isi{
    margin-left: 50px;
}

.media{
    width: 600px;
}
.media img{
    margin: 5px;
    display: inline-block;
    width: 80px;    
}

.media h1{
    font-size: 25px;
    font-family: sans-serif;
    font-style: italic;
    float: right;
    display: inline-block;
    margin-left: 25px;
}

.footer a{
    text-decoration: none;
    font-family: Impact;
    font-size: 25px;
    margin: 50px;
    color: rgb(5, 1, 61); 
    float: right;
    letter-spacing: 2px;
    text-shadow: 3px 2px 4px grey;
}

.footer a:hover{
    font-size: 30px;
    background-color: rgb(99, 153, 135);
    border-radius: 5px;
    padding: 3px;
}

.footer a:active{
    color: blue;
}