body{
    background-image: url(/static/experiences/img/experiences-background.jpg);
    background-size: 100%;
    font-family: sans-serif;
}

.tittle{
    text-align: right;
    margin-right: 35px;
    margin-top: 35px;
    font-size: 30px;
}

.tittle h1{
    margin-bottom: 5px;
    text-shadow: 4px 3px 4px grey;
}

.isi{
    margin-left: 500px;
    padding-top: 35px;
}

.isi div h2{
    box-shadow: 4px 8px 5px grey;
    background-color: rgba(80, 70, 80, 0.4);
    padding: 10px;
    border-radius: 55px;  
    line-height: 40px;  
    margin-top: 30px
}

.isi div p{
    margin-left: 35px;
    font-size: 17px;
}

.footer a{
    text-decoration: none;
    font-family: Impact;
    font-size: 25px;
    margin-right: 50px;
    color: rgb(5, 1, 61); 
    float: right;
    letter-spacing: 2px;
    text-shadow: 3px 2px 4px grey;
}

.footer a:hover{
    font-size: 30px;
    background-color: rgb(99, 153, 135);
    border-radius: 5px;
    padding: 3px;
}

.footer a:active{
    color: blue;
}
