body{
    background-image: url("/static/img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.container{
    margin-top: 120px;
    margin-left: 45px; 
}

.welcome h1{
    font-family: sans-serif;
    font-size: 80px;    
    margin-bottom: 10px;
    text-shadow: 4px 3px 2px grey;
}

.welcome h3{
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 10px;
}

.option div{
    display: inline-block;
    width: 700px;
    border-left: 25px solid rgb(200, 200, 200);
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 35px;
    box-shadow: 5px 8px 5px gray;
}

.option div:hover{
    width: 750px;
    height: 80px;
    border-left: 25px solid rgb(200, 200, 200);
    background-color: rgba(250, 100, 150, 0.3);
    border-radius: 40px;
}

.born a{
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 70px;
    height: 70px;
    margin-left: 25px;
}

.born a img{
    height: 70px;
    float: right;
}

.imgborn{
    float: right;
}

.school a{
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 70px;
    height: 70px;
    margin-left: 25px;
}

.school a img{
    height: 70px;
    float: right;
}

.imgschool{
    float: right;
}

.skill a{
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 70px;
    height: 70px;
    margin-left: 25px;
}

.skill a img{
    height: 70px;
    float: right;
}

.imgskill{
    float: right;
}

.contact a{
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 70px;
    height: 70px;
    margin-left: 25px;
}

.contact a img{
    height: 70px;
    float: right;
}

.imgcontact{
    float: right;
}

.experience a{
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 70px;
    height: 70px;
    margin-left: 25px;
}

.experience a img{
    height: 70px;
    float: right;
}

.imgexperience{
    float: right;
}

a:visited{
    color: blue;
}

a:active{
    font-weight: 900;
}