body{
    background-image: url("/static/born/img/yellow-pencil.jpg");
    background-size: 100%;
    font-family: sans-serif;
}
.judul{
    text-align: right;
    margin-top: 150px;
    margin-right:  50px;
    font-size: 30px;
    text-shadow: 4px 3px 4px rgb(87, 63, 2);
}
.container{
    margin-top: -20px;
    margin-right: 50px;
    margin-left: 550px;
    border-top: 15px dotted black;
}

.foto img{
    display: block;
    margin-top: -125px;
    margin-left: -50;
    height: 300px;
    border-radius: 125px;
    border: 5px ridge black;
    float: left;
    box-shadow: 5px 9px 5px rgb(87, 63, 2);
}

.foto img:hover{
    height: 350px;
    border-radius: 175px;
}

.isi{
    margin-left: 20px;
    text-align: right;
    font-size: 25px;
    overflow: auto;
    line-height: 60px
}

.footer a{
    text-shadow: 4px 3px 4px rgb(87, 63, 2);
    text-decoration: none;
    font-family: Impact;
    font-size: 25px;
    margin-top: 200px;
    margin-right: 50px;
    color: aliceblue; 
    float: right;
    letter-spacing: 2px;
}

.footer a:hover{
    font-size: 30px;
    background-color: rgb(99, 153, 135);
    border-radius: 5px;
    padding: 3px;
}

.footer a:active{
    color: blue;
}