body{
    background-image: url(/app1/static/img/school-background.jpg);
    background-size: 100%;
    font-family: sans-serif;
}

.tittle{
    text-align: right;
    margin-right: 35px;
    margin-top: 35px;
    font-size: 30px;
}

.tittle h1{
    margin-bottom: 5px;
    text-shadow: 4px 3px 4px grey;
}

.isi{
    margin-left: 500px;
    padding-top: 35px;
}

.isi div{
    box-shadow: 4px 8px 5px grey;
    background-color: rgba(80, 70, 80, 0.4);
    padding: 7px;
    border-radius: 70px;
}

.sd h2, p{
    margin-left: 40px;
}

.smp h2, p{
    margin-left: 40px;
}

.smk h2, p{
    margin-left: 40px;
}

.kampus h2, p{
    margin-left: 40px;
}

.footer a{
    text-decoration: none;
    font-family: Impact;
    font-size: 25px;
    margin-right: 50px;
    color: rgb(5, 1, 61); 
    float: right;
    letter-spacing: 2px;
    text-shadow: 3px 2px 4px grey;
}

.footer a:hover{
    font-size: 30px;
    background-color: rgb(99, 153, 135);
    border-radius: 5px;
    padding: 3px;
}

.footer a:active{
    color: blue;
}